process {    
    container = 'dilmicperera/msisensor:0.5'
}
docker.enabled = true
params.normal_bam = "inputs/DNA-20377-CG001Qv51Run014-16_S16.hardclipped.bam"
params.loci_file_msisensor = "inputs/microsats.from.pipeline.red"
params.bam_folder = "test/bam_folder"
params.output_folder = "s3://dperera-orchestration-nextflow-bioinformatics-ch/Outputs"
