process {    
    container = 'dilmicperera/msisensor:0.5@sha256:2ce413a265e1c7d9ba0f4f41fb2486c106f999cb4cae6a043ca7c213ccd92b46'
}
params.normal_bam = "$projectDir"+"/inputs/DNA-20377-CG001Qv51Run014-16_S16.hardclipped.bam"
params.loci_file_msisensor = "$projectDir" + "/inputs/microsats.from.pipeline.red"
